.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__z0YHz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-d0IDWMbtsU21ko);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  min-width: 0;
  min-height: 0;
}
.freeBox__z0YHz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__z0YHz > :global(.__wab_flex-container) > *,
.freeBox__z0YHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0YHz > :global(.__wab_flex-container) > picture > img,
.freeBox__z0YHz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__z0YHz {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__z0YHz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__z0YHz > :global(.__wab_flex-container) > *,
  .freeBox__z0YHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__z0YHz > :global(.__wab_flex-container) > picture > img,
  .freeBox__z0YHz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.logo:global(.__wab_instance) {
  display: flex;
}
.freeBox__ztU94 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ztU94 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ztU94 > :global(.__wab_flex-container) > *,
.freeBox__ztU94 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ztU94 > :global(.__wab_flex-container) > picture > img,
.freeBox__ztU94
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ztU94 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ztU94 > :global(.__wab_flex-container) > *,
  .freeBox__ztU94 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ztU94 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ztU94
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__ktSQ:global(.__wab_instance) {
  position: relative;
}
.svg__zwQQf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mxQaG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oZf6F:global(.__wab_instance) {
  position: relative;
}
.svg__mp5Xb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sy3El {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__uxcuj:global(.__wab_instance) {
  position: relative;
}
.svg__eI2T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tDyeU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jdZ7X:global(.__wab_instance) {
  position: relative;
}
.svg___571PB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ivDPg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__yZ0Ut {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__mXpV1:global(.__wab_instance) {
  position: relative;
}
.svg__quKgV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__j7Zz8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nyxUl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zX0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rasU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
