.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__rW0P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rW0P {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__yteEk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__yteEk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yteEk > :global(.__wab_flex-container) > *,
.freeBox__yteEk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yteEk > :global(.__wab_flex-container) > picture > img,
.freeBox__yteEk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yteEk {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yteEk > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yteEk > :global(.__wab_flex-container) > *,
  .freeBox__yteEk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yteEk > :global(.__wab_flex-container) > picture > img,
  .freeBox__yteEk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__a68XX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__a68XX {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__zmNUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zmNUl {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox___3C6V {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox___3C6V > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___3C6V {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___3C6V > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___3C6V > :global(.__wab_flex-container) > *,
  .freeBox___3C6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3C6V > :global(.__wab_flex-container) > picture > img,
  .freeBox___3C6V
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__zhgIu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zhgIu:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__btnxF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hbxIa {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__enUua {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__enUua {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button__awNjz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__awNjz:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__zfL9I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__gvwy0 {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__gvwy0 {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__iTc4E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__d7Xiy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d7Xiy {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__uhGjx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0FaEf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__glkRe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wywqj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wywqj:global(.__wab_instance) {
    display: none;
  }
}
.svg__n8Ao3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__piFSe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ep4SV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___18Ba {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img___18Ba > picture > img {
  object-fit: cover;
}
.img___18Ba > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___18Ba {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text__q2TXo {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-i4qKmUsLAAZUJb);
  color: var(--token-zCn4XxJFV2kaGv);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__q2TXo {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox__texXb {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__texXb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__texXb > :global(.__wab_flex-container) > *,
.freeBox__texXb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__texXb > :global(.__wab_flex-container) > picture > img,
.freeBox__texXb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__texXb {
    width: 100%;
    max-width: var(--token-i4qKmUsLAAZUJb);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__texXb > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__texXb > :global(.__wab_flex-container) > *,
  .freeBox__texXb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__texXb > :global(.__wab_flex-container) > picture > img,
  .freeBox__texXb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__rvZ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rvZ4 > picture > img {
  object-fit: cover;
}
.img__rvZ4 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rvZ4 {
    max-width: 170px;
  }
}
.img__pf41H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pf41H > picture > img {
  object-fit: cover;
}
.img__pf41H > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pf41H {
    max-width: 170px;
  }
}
.img__wZIsp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wZIsp > picture > img {
  object-fit: cover;
}
.img__wZIsp > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wZIsp {
    max-width: 170px;
  }
}
.img__lIle {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__lIle > picture > img {
  object-fit: cover;
}
.img__lIle > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__lIle {
    max-width: 170px;
  }
}
.img__nqeP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__nqeP > picture > img {
  object-fit: cover;
}
.img__nqeP > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7DtSw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img___7DtSw > picture > img {
  object-fit: cover;
}
.img___7DtSw > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ewtay {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__ewtay > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img__ewtay > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__dxMxo {
  max-width: var(--token-i4qKmUsLAAZUJb);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dxMxo {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__r0BCg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__r0BCg {
    font-size: 28px;
  }
}
.text__wvc6T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__pmFj8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__pmFj8 > picture > img {
  object-fit: cover;
}
.img__pmFj8 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pmFj8 {
    max-width: 249px;
  }
}
.img__bNsDo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__bNsDo > picture > img {
  object-fit: cover;
}
.img__bNsDo > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bNsDo {
    width: auto;
  }
}
.img__lStZ5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lStZ5 > picture > img {
  object-fit: cover;
}
.img__lStZ5 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__lStZ5 {
    max-width: 50px;
  }
}
.img__y5Wm6 {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__y5Wm6 > picture > img {
  object-fit: cover;
}
.img__y5Wm6 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__y5Wm6 {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__njr9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__njr9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__njr9 > :global(.__wab_flex-container) > *,
.freeBox__njr9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__njr9 > :global(.__wab_flex-container) > picture > img,
.freeBox__njr9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__njr9 {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__njr9 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__njr9 > :global(.__wab_flex-container) > *,
  .freeBox__njr9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__njr9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__njr9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__c2Vdh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__c2Vdh:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__idEgk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__zcUit:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___71KXv {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox___71KXv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___71KXv > :global(.__wab_flex-container) > *,
.freeBox___71KXv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___71KXv > :global(.__wab_flex-container) > picture > img,
.freeBox___71KXv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___71KXv {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___71KXv > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___71KXv > :global(.__wab_flex-container) > *,
  .freeBox___71KXv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___71KXv > :global(.__wab_flex-container) > picture > img,
  .freeBox___71KXv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__nfJqL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nfJqL > picture > img {
  object-fit: cover;
}
.img__nfJqL > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nfJqL {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___8WN8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8WN8 > picture > img {
  object-fit: cover;
}
.img___8WN8 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___8WN8 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__jIK8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jIK8 > picture > img {
  object-fit: cover;
}
.img__jIK8 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__jIK8 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___9Oyu8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9Oyu8 > picture > img {
  object-fit: cover;
}
.img___9Oyu8 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9Oyu8 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__kErW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kErW > picture > img {
  object-fit: cover;
}
.img__kErW > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kErW {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__zHyCi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zHyCi > picture > img {
  object-fit: cover;
}
.img__zHyCi > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__zHyCi {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__i4Fy6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i4Fy6 > picture > img {
  object-fit: cover;
}
.img__i4Fy6 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__i4Fy6 {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__uQJv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__i4TpN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__i4TpN {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__vi1VN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vi1VN {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__kls3A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-CuloyKgdQ0AQqI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__kls3A {
    color: var(--token-CuloyKgdQ0AQqI);
  }
}
.text__d8Nt4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__d8Nt4 {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img___4XPJm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img___4XPJm > picture > img {
  object-fit: cover;
}
.img___4XPJm > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___4XPJm {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xqHje {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xqHje {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns___6HjF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns___6HjF > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns___6HjF > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns___6HjF > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6HjF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6HjF > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__udlb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__udlb3 {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__hdKy4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__hdKy4 > picture > img {
  object-fit: cover;
}
.img__hdKy4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__zUzam {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__zUzam {
    padding: 4px 0px;
  }
}
.img__l7RUx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__l7RUx > picture > img {
  object-fit: cover;
}
.img__l7RUx > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__d1Ond {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__d1Ond {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__eanvt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__eanvt > picture > img {
  object-fit: cover;
}
.img__eanvt > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___6C9Tq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns___6C9Tq > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns___6C9Tq > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns___6C9Tq > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6C9Tq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6C9Tq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lKaVz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__lKaVz {
    padding-right: 0px;
  }
}
.img__ygAhV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__ygAhV > picture > img {
  object-fit: cover;
}
.img__ygAhV > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__f2IJu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__f2IJu {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__em786 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__em786 > picture > img {
  object-fit: cover;
}
.img__em786 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ydWkB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ydWkB {
    padding-left: 0px;
  }
}
.img__oXfX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__oXfX > picture > img {
  object-fit: cover;
}
.img__oXfX > .__wab_img-spacer > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hi7S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__kvyvV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__klY5K {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__klY5K {
    font-size: 16px;
  }
}
.button___4Azr0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___4Azr0:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg___0LcJt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__q8Yw8 {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__vgJuY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ffnpO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__ffnpO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ffnpO > :global(.__wab_flex-container) > *,
.freeBox__ffnpO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ffnpO > :global(.__wab_flex-container) > picture > img,
.freeBox__ffnpO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ffnpO {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ffnpO > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ffnpO > :global(.__wab_flex-container) > *,
  .freeBox__ffnpO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ffnpO > :global(.__wab_flex-container) > picture > img,
  .freeBox__ffnpO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard___0Ya8F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__oifMy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__iZi5O {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__iZi5O > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__iZi5O > :global(.__wab_flex-container) > *,
.freeBox__iZi5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iZi5O > :global(.__wab_flex-container) > picture > img,
.freeBox__iZi5O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iZi5O > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iZi5O > :global(.__wab_flex-container) > *,
  .freeBox__iZi5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iZi5O > :global(.__wab_flex-container) > picture > img,
  .freeBox__iZi5O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__xzuMy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__rIr1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xaQy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__afyyE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-CuloyKgdQ0AQqI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__afyyE {
    padding-top: 18px;
  }
}
.freeBox__vFmZj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vFmZj {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__raGXq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__w8Q31 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__w8Q31 > picture > img {
  object-fit: cover;
}
.img__w8Q31 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__w8Q31 {
    max-width: 339px;
  }
}
.freeBox__hdFEc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__zIvE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-CuloyKgdQ0AQqI);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__zIvE {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__esAg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__esAg {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__l99Is {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__l99Is > picture > img {
  object-fit: cover;
}
.img__l99Is > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__p3T6D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__p3T6D {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__pcd2O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pcd2O {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__wrO9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__wrO9 > picture > img {
  object-fit: cover;
}
.img__wrO9 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wrO9 {
    width: auto;
    align-self: flex-start;
  }
}
.text__ftKgs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ftKgs {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__cT8RQ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__cT8RQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cT8RQ {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cT8RQ > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cT8RQ > :global(.__wab_flex-container) > *,
  .freeBox__cT8RQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cT8RQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__cT8RQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__hqJpU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__bcxtd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__a2ZrA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__nuaRh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__nuaRh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nuaRh {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nuaRh > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nuaRh > :global(.__wab_flex-container) > *,
  .freeBox__nuaRh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuaRh > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuaRh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__nkC9T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__xqQze:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout___7Phf7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___67HyN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img___67HyN > picture > img {
  object-fit: cover;
}
.img___67HyN > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___67HyN {
    display: none !important;
  }
}
.img__dq8G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__dq8G > picture > img {
  object-fit: cover;
}
.img__dq8G > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__dq8G {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cS9An {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cS9An {
    margin-bottom: 0px;
  }
}
.img__ssFwE {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__ssFwE > picture > img {
  object-fit: cover;
}
.img__ssFwE > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___745W9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns___745W9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns___745W9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___745W9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___745W9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sscGj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__sscGj {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-CuloyKgdQ0AQqI);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__aAhzz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-CuloyKgdQ0AQqI);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__aAhzz {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__nsJiy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nsJiy {
    padding-bottom: 38px;
  }
}
.button__ystys:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ystys:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__pQUuf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rcw5D {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__x9Kt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__peThr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__xyDdU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__xyDdU > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.columns__xyDdU > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__xyDdU > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__xyDdU > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__xyDdU > :global(.__wab_flex-container) > *,
.columns__xyDdU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xyDdU > :global(.__wab_flex-container) > picture > img,
.columns__xyDdU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xyDdU {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xyDdU > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xyDdU > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 52px) * 12 / 12);
  }
}
.column__an1Ow {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___1S7Ka:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__sRnRr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__e8MYl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__e8MYl:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__uwl8 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__pv5KT {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pv5KT {
    top: 85px;
    font-size: 14px;
  }
}
.column__if2Gk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___8VYLl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___8VYLl:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
