.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___2VOz1 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___2VOz1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___2VOz1 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___2VOz1 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___2VOz1 > :global(.__wab_flex-container) > *,
.columns___2VOz1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___2VOz1 > :global(.__wab_flex-container) > picture > img,
.columns___2VOz1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2VOz1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2VOz1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2VOz1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2VOz1 > :global(.__wab_flex-container) > *,
  .columns___2VOz1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___2VOz1 > :global(.__wab_flex-container) > picture > img,
  .columns___2VOz1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__kyUip {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vdWgO {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__vdWgO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vdWgO > :global(.__wab_flex-container) > *,
.freeBox__vdWgO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vdWgO > :global(.__wab_flex-container) > picture > img,
.freeBox__vdWgO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___0CcJj {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0CcJj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0CcJj > :global(.__wab_flex-container) > *,
.freeBox___0CcJj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0CcJj > :global(.__wab_flex-container) > picture > img,
.freeBox___0CcJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___7Rp5F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__z5ADi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-gUIkH8bjgLVJNn);
  background: #ffffff;
  padding: 4px 8px;
}
.text___4BR2R {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-wyq_2DTVGcQLNs);
}
.text__vKv1X {
  font-size: 20px;
  color: var(--token-gUIkH8bjgLVJNn);
  line-height: 28px;
}
.freeBox___8X8Sk {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___8X8Sk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8X8Sk > :global(.__wab_flex-container) > *,
.freeBox___8X8Sk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8X8Sk > :global(.__wab_flex-container) > picture > img,
.freeBox___8X8Sk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__pntEf:global(.__wab_instance) {
  position: relative;
}
.svg__aGWhh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xQoK {
  height: auto;
}
.svg__zDdlu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oeirX:global(.__wab_instance) {
  position: relative;
}
.svg__mz7BB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3LrxT {
  height: auto;
  font-weight: 400;
}
.svg___0VyK2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__nEhu2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__kJiOw {
  flex-direction: column;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  height: auto;
}
.freeBox__kJiOw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kJiOw > :global(.__wab_flex-container) > *,
.freeBox__kJiOw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kJiOw > :global(.__wab_flex-container) > picture > img,
.freeBox__kJiOw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yxHcc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__kv0G {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-wyq_2DTVGcQLNs);
  line-height: 1;
}
.text__m6OrS {
  font-size: 20px;
  color: var(--token-gUIkH8bjgLVJNn);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-Kdjn6hLmQa5PTe);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__buaR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ypzvi {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__iWOt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__we4Ed {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__bCxRe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oh1Vc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__cpB3B:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fXQuP {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__moEnG {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__eGe64:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nlFrM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__eqRyh {
  height: auto;
}
.valueProp__mu2Dr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__i2PfH {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ivDpe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kOcay {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__iJzv4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__js2G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__ucPox {
  flex-direction: row;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ucPox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__ucPox > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__ucPox > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__ucPox > :global(.__wab_flex-container) > *,
.columns__ucPox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ucPox > :global(.__wab_flex-container) > picture > img,
.columns__ucPox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ucPox {
    max-width: var(--token-Kdjn6hLmQa5PTe);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ucPox > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ucPox > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ucPox > :global(.__wab_flex-container) > *,
  .columns__ucPox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ucPox > :global(.__wab_flex-container) > picture > img,
  .columns__ucPox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__qaj5X {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3SJQs {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___3SJQs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3SJQs > :global(.__wab_flex-container) > *,
.freeBox___3SJQs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3SJQs > :global(.__wab_flex-container) > picture > img,
.freeBox___3SJQs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zlb1K {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-GeGn5iJfHDZKdS);
}
.h2__ewxTl {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-OhO44CogJYowkJ);
  line-height: 1;
}
.text__bNyap {
  font-size: 20px;
  color: var(--token-w46IWpejvs4QZA);
  line-height: 28px;
  height: auto;
}
.button__kCrGd:global(.__wab_instance) {
  position: relative;
}
.svg__jUkF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ao9Nn {
  color: var(--token-VPCaMnOBmnSKAk);
}
.svg__uTkLd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-VPCaMnOBmnSKAk);
}
.column__aDdBh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kIcgZ {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__oz5SR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__oz5SR:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__aeLv9 {
  color: var(--token-OhO44CogJYowkJ);
}
.svg__kyZzQ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-GeGn5iJfHDZKdS);
}
.listItem__fbjNj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uExrg {
  color: var(--token-OhO44CogJYowkJ);
}
.svg___6Y5N5 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-GeGn5iJfHDZKdS);
}
.listItem__vqMv4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eD9W {
  height: auto;
  color: var(--token-OhO44CogJYowkJ);
}
.svg__h8HyS {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-GeGn5iJfHDZKdS);
}
.listItem__i3IHd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tlYj4 {
  height: auto;
  color: var(--token-OhO44CogJYowkJ);
}
.svg__heSEn {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-GeGn5iJfHDZKdS);
}
.listItem__bMok0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kcFj {
  height: auto;
  color: var(--token-OhO44CogJYowkJ);
}
.svg__aaaF {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-GeGn5iJfHDZKdS);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___0XoK0 {
  flex-direction: column;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___0XoK0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___0XoK0 > :global(.__wab_flex-container) > *,
.freeBox___0XoK0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0XoK0 > :global(.__wab_flex-container) > picture > img,
.freeBox___0XoK0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0XoK0 {
    max-width: var(--token-Kdjn6hLmQa5PTe);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0XoK0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0XoK0 > :global(.__wab_flex-container) > *,
  .freeBox___0XoK0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0XoK0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0XoK0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__fCg7L {
  flex-direction: column;
  display: flex;
}
.freeBox__fCg7L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fCg7L > :global(.__wab_flex-container) > *,
.freeBox__fCg7L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fCg7L > :global(.__wab_flex-container) > picture > img,
.freeBox__fCg7L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rCeus {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__aziaW {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-OhO44CogJYowkJ);
  line-height: 1;
}
.text__scvfn {
  font-size: 20px;
  color: var(--token-w46IWpejvs4QZA);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__bzCvI {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__bzCvI > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__bzCvI > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bzCvI > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bzCvI > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzCvI {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzCvI > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzCvI > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzCvI > :global(.__wab_flex-container) > *,
  .columns__bzCvI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bzCvI > :global(.__wab_flex-container) > picture > img,
  .columns__bzCvI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___4PfRl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___5OEz4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___5OEz4:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp___3J1R:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fly41 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hRwPe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wYVur {
  height: auto;
}
.column__rq11R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___96VV:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___9V655:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8NAFq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__uxqdd {
  height: auto;
}
.svg___0Xqvx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oRmcz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__vK0Dx {
  height: auto;
}
.svg__tmZn7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__lYf9I {
  height: auto;
}
.column__r5Pn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__vbXsv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__vbXsv:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__nzbM4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b9GVb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rnmYs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__i8E0 {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mqq6U {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqq6U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mqq6U > :global(.__wab_flex-container) > *,
.freeBox__mqq6U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqq6U > :global(.__wab_flex-container) > picture > img,
.freeBox__mqq6U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqq6U {
    position: relative;
  }
}
.text__vKwC {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-wyq_2DTVGcQLNs);
  line-height: 1;
  height: auto;
}
.svg__nRhaT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__caf1W {
  height: auto;
  width: auto;
}
.svg__mQu4I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__uorqp {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__uorqp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__uorqp > :global(.__wab_flex-container) > *,
.freeBox__uorqp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uorqp > :global(.__wab_flex-container) > picture > img,
.freeBox__uorqp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uorqp {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uorqp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uorqp > :global(.__wab_flex-container) > *,
  .freeBox__uorqp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uorqp > :global(.__wab_flex-container) > picture > img,
  .freeBox__uorqp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text___5Huj {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-wyq_2DTVGcQLNs);
  line-height: 1;
  height: auto;
}
.svg__g4Mf8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vWf32 {
  height: auto;
  width: auto;
}
.svg__lF01F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__kCnLa:global(.__wab_instance) {
  position: relative;
}
.text__nz9Y0 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-wyq_2DTVGcQLNs);
  line-height: 1;
  height: auto;
}
.svg___2UY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___71VLo {
  height: auto;
  width: auto;
}
.svg__nlP3D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__a8Xb {
  flex-direction: row;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__a8Xb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__a8Xb > :global(.__wab_flex-container) > *,
.freeBox__a8Xb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a8Xb > :global(.__wab_flex-container) > picture > img,
.freeBox__a8Xb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__hlgjd {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__hlgjd > picture > img {
  object-fit: cover;
}
.img__hlgjd > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ruWer {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ruWer > picture > img {
  object-fit: cover;
}
.img__ruWer > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ciJei {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ciJei > picture > img {
  object-fit: cover;
}
.img__ciJei > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__enDzq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__enDzq > picture > img {
  object-fit: cover;
}
.img__enDzq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uo9Iw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__uo9Iw > picture > img {
  object-fit: cover;
}
.img__uo9Iw > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns___8Pg99 {
  flex-direction: row;
  max-width: var(--token-Kdjn6hLmQa5PTe);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___8Pg99 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns___8Pg99 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___8Pg99 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___8Pg99 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___8Pg99 > :global(.__wab_flex-container) > *,
.columns___8Pg99 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8Pg99 > :global(.__wab_flex-container) > picture > img,
.columns___8Pg99
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Pg99 {
    max-width: var(--token-Kdjn6hLmQa5PTe);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Pg99 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Pg99 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Pg99 > :global(.__wab_flex-container) > *,
  .columns___8Pg99 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8Pg99 > :global(.__wab_flex-container) > picture > img,
  .columns___8Pg99
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column___41SCg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___8O7ZK:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__peVma {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__b6MAo:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__xhpDx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__skWrv:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___8AMb5 {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__fMjig {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__fMjig > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fMjig > :global(.__wab_flex-container) > *,
.freeBox__fMjig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fMjig > :global(.__wab_flex-container) > picture > img,
.freeBox__fMjig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__aD9W4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-OhO44CogJYowkJ);
}
.text__vRv8K {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-OhO44CogJYowkJ);
  line-height: 1;
}
.text__lfsAj {
  font-size: 20px;
  color: var(--token-w46IWpejvs4QZA);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__g6Atm:global(.__wab_instance) {
  position: relative;
}
.svg__lJzn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pVijI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cJmlN:global(.__wab_instance) {
  position: relative;
}
.svg__eb2Hl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__psgKw {
  height: auto;
  font-weight: 400;
}
.svg__cVlib {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
