.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__gyiGt {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__gyiGt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__gyiGt > :global(.__wab_flex-container) > *,
.freeBox__gyiGt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gyiGt > :global(.__wab_flex-container) > picture > img,
.freeBox__gyiGt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gyiGt {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___955VL {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text___794Tm {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp___62AYy:global(.__wab_instance) {
  position: relative;
}
.img__x8KXm {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__x8KXm > picture > img {
  object-fit: cover;
}
.img__x8KXm > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___73Ts2:global(.__wab_instance) {
  position: relative;
}
.img__bkFtJ {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__bkFtJ > picture > img {
  object-fit: cover;
}
.img__bkFtJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__iTob:global(.__wab_instance) {
  position: relative;
}
.img__plHup {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__plHup > picture > img {
  object-fit: cover;
}
.img__plHup > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__dMto6:global(.__wab_instance) {
  position: relative;
}
.img__cRRmD {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__cRRmD > picture > img {
  object-fit: cover;
}
.img__cRRmD > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-rQdfGMxL4naq8E);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__eoLta {
  flex-direction: column;
  display: flex;
}
.freeBox__eoLta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eoLta > :global(.__wab_flex-container) > *,
.freeBox__eoLta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eoLta > :global(.__wab_flex-container) > picture > img,
.freeBox__eoLta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yaKb0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text___1YIju {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__waIh7 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__waIh7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__waIh7 > :global(.__wab_flex-container) > *,
.freeBox__waIh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__waIh7 > :global(.__wab_flex-container) > picture > img,
.freeBox__waIh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__a6A5S {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___8Lqy2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___5Ggpb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-g2KMZzwE0JZKsF);
  width: 28px;
  height: 28px;
}
.text__mzEd {
  padding-left: 0px;
}
.column__v4YsP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___43JX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3Uu05 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-g2KMZzwE0JZKsF);
  width: 28px;
  height: 28px;
}
.text__nu79K {
  padding-left: 0px;
}
.column__rwHy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__wSmWz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lHEtB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-g2KMZzwE0JZKsF);
  width: 28px;
  height: 28px;
}
.text__bocKp {
  padding-left: 0px;
}
.column__aRule {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kmzV8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uyAu2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-g2KMZzwE0JZKsF);
  width: 28px;
  height: 28px;
}
.text__rAyCl {
  padding-left: 0px;
}
.freeBox___7RkR3 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox___7RkR3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7RkR3 > :global(.__wab_flex-container) > *,
.freeBox___7RkR3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7RkR3 > :global(.__wab_flex-container) > picture > img,
.freeBox___7RkR3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7RkR3 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__aaKbA {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__aaKbA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__aaKbA > :global(.__wab_flex-container) > *,
.freeBox__aaKbA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aaKbA > :global(.__wab_flex-container) > picture > img,
.freeBox__aaKbA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__fvv4W {
  flex-direction: column;
  display: flex;
}
.freeBox__fvv4W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fvv4W > :global(.__wab_flex-container) > *,
.freeBox__fvv4W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvv4W > :global(.__wab_flex-container) > picture > img,
.freeBox__fvv4W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sP5Cq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ck5Ql {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ck5Ql {
    text-align: center;
  }
}
.text__xj6EJ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__kEnw {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kEnw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kEnw > :global(.__wab_flex-container) > *,
.freeBox__kEnw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kEnw > :global(.__wab_flex-container) > picture > img,
.freeBox__kEnw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kEnw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kEnw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kEnw > :global(.__wab_flex-container) > *,
  .freeBox__kEnw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kEnw > :global(.__wab_flex-container) > picture > img,
  .freeBox__kEnw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__gjiwa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__jkR3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b4OsO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___51F15 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tEge1 {
  height: auto;
}
.priceCard___2HuZ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__igtt4 {
  color: var(--token-mL7E9CrEZxT0LL);
}
.valueProp__pbW5V:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w9Ruo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l3EgY {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__n7S7L {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yXHo {
  height: auto;
}
.priceCard__im4F2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yoJ0C {
  color: var(--token-iKyYGB0mJSQJ6Y);
}
.valueProp__pbDcU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mhXCc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f2EcH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cGodM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tWobv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__v57Hp {
  height: auto;
}
.priceCard__oy0Rl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xgcV9 {
  color: var(--token-aO87Lk4S7zcsKF);
}
.valueProp___3Inrj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1Z3Hi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tXkaA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kFhs2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r8RYb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pf4Ka {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
